<html>
  <head>
    <link rel="stylesheet" href="./styles/template.css" />
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="header">
          <div class="greetings">{{greetings}},</div>
          <div class="content">{{body}}</div>
        </div>
        <div class="link-button">
          <a
            href={{url}}
          >
            {{link}}
          </a>
        </div>
        <div class="footer">
          <div class="signature">- {{signature}}</div>
        </div>
      </div>
    </div>
  </body>
</html>
